@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #fdfcfe;
  --foreground: #0a050d;
  --card: #ffffff;
  --card-foreground: #0a050d;
  --popover: #ffffff;
  --popover-foreground: #0a050d;
  --primary: #03035e;
  --primary-foreground: #ffffff;
  --secondary: #e2ebfd;
  --secondary-foreground: #0248d4;
  --muted: #f0eef2;
  --muted-foreground: #635d69;
  --accent: #e5e8ff;
  --accent-foreground: #0248d4;
  --destructive: #e11d48;
  --destructive-foreground: #ffffff;
  --border: #e6e1e9;
  --input: #e6e1e9;
  --ring: #3d7eff;
  --chart-1: #0248d4;
  --chart-2: #8b5cf6;
  --chart-3: #d946ef;
  --chart-4: #f43f5e;
  --chart-5: #f97316;
  --sidebar: #e2ebfd;
  --sidebar-foreground: #02173b;
  --sidebar-primary: #fdfcfe;
  --sidebar-primary-foreground: #11172c;
  --sidebar-accent: #1a1d42;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #1b1a42;
  --sidebar-ring: #232986;
  --font-sans: Bricolage Grotesque, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 1.25rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: 0, 0, 0;
  --shadow-2xs: 0px 4px 10px 0px hsl(0, 0, 0 / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0, 0, 0 / 0.05);
  --shadow-sm: 0px 4px 10px 0px hsl(0, 0, 0 / 0.10), 0px 1px 2px -1px hsl(0, 0, 0 / 0.10);
  --shadow: 0px 4px 10px 0px hsl(0, 0, 0 / 0.10), 0px 1px 2px -1px hsl(0, 0, 0 / 0.10);
  --shadow-md: 0px 4px 10px 0px hsl(0, 0, 0 / 0.10), 0px 2px 4px -1px hsl(0, 0, 0 / 0.10);
  --shadow-lg: 0px 4px 10px 0px hsl(0, 0, 0 / 0.10), 0px 4px 6px -1px hsl(0, 0, 0 / 0.10);
  --shadow-xl: 0px 4px 10px 0px hsl(0, 0, 0 / 0.10), 0px 8px 10px -1px hsl(0, 0, 0 / 0.10);
  --shadow-2xl: 0px 4px 10px 0px hsl(0, 0, 0 / 0.25);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: #020409;
  --foreground: #fdfcfe;
  --card: #060a13;
  --card-foreground: #fdfcfe;
  --popover: #060913;
  --popover-foreground: #fdfcfe;
  --primary: #6b82f5;
  --primary-foreground: #ffffff;
  --secondary: #11172c;
  --secondary-foreground: #fdfcfe;
  --muted: #0c1022;
  --muted-foreground: #b0b0c8;
  --accent: #1a1f42;
  --accent-foreground: #fdfcfe;
  --destructive: #e03254;
  --destructive-foreground: #ffffff;
  --border: #1b1a42;
  --input: #1a2142;
  --ring: #6b82f5;
  --chart-1: #5f78f7;
  --chart-2: #ef9b4d;
  --chart-3: #f43f5e;
  --chart-4: #f97316;
  --chart-5: #8b5cf6;
  --sidebar: #0a0e1e;
  --sidebar-foreground: #b0b0c8;
  --sidebar-primary: #fdfcfe;
  --sidebar-primary-foreground: #0a0d1e;
  --sidebar-accent: #11132c;
  --sidebar-accent-foreground: #fdfcfe;
  --sidebar-border: #11122c;
  --sidebar-ring: #6b82f5;
  --font-sans: Bricolage Grotesque, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 1.25rem;
  --shadow-x: 0px;
  --shadow-y: 10px;
  --shadow-blur: 20px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.5;
  --shadow-color: 0, 0, 0;
  --shadow-2xs: 0px 10px 20px 0px hsl(0, 0, 0 / 0.25);
  --shadow-xs: 0px 10px 20px 0px hsl(0, 0, 0 / 0.25);
  --shadow-sm: 0px 10px 20px 0px hsl(0, 0, 0 / 0.50), 0px 1px 2px -1px hsl(0, 0, 0 / 0.50);
  --shadow: 0px 10px 20px 0px hsl(0, 0, 0 / 0.50), 0px 1px 2px -1px hsl(0, 0, 0 / 0.50);
  --shadow-md: 0px 10px 20px 0px hsl(0, 0, 0 / 0.50), 0px 2px 4px -1px hsl(0, 0, 0 / 0.50);
  --shadow-lg: 0px 10px 20px 0px hsl(0, 0, 0 / 0.50), 0px 4px 6px -1px hsl(0, 0, 0 / 0.50);
  --shadow-xl: 0px 10px 20px 0px hsl(0, 0, 0 / 0.50), 0px 8px 10px -1px hsl(0, 0, 0 / 0.50);
  --shadow-2xl: 0px 10px 20px 0px hsl(0, 0, 0 / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}